.success-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:80px 8%;

background:var(--section);

}

.success-card{

width:500px;

max-width:100%;

background:var(--card);

padding:50px;

text-align:center;

border-radius:20px;

border:1px solid var(--border);

box-shadow:var(--shadow);

}

.success-icon{

font-size:90px;

color:#28a745;

margin-bottom:25px;

}

.success-card h1{

color:var(--text);

margin-bottom:20px;

}

.success-card p{

color:var(--text-light);

line-height:30px;

margin-bottom:25px;

}

.success-card h3{

color:var(--text);

margin-bottom:35px;

}

.success-card span{

color:var(--primary);

}

.success-card button{

padding:15px 40px;

border:none;

border-radius:50px;

background:linear-gradient(
135deg,
var(--primary),
#ff8c00
);

color:white;

font-size:17px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.success-card button:hover{

transform:translateY(-5px);

box-shadow:0 15px 30px rgba(255,107,0,.35);

}

@media(max-width:768px){

.success-card{

padding:30px;

}

.success-icon{

font-size:70px;

}

.success-card h1{

font-size:28px;

}

}