.related-products{

margin-top:80px;

}

.related-products h2{

text-align:center;

margin-bottom:35px;

color:var(--text);

}

.related-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.related-card{

background:var(--card);

border:1px solid var(--border);

border-radius:18px;

padding:20px;

text-align:center;

cursor:pointer;

transition:.3s;

box-shadow:var(--shadow);

}

.related-card:hover{

transform:translateY(-8px);

}

.related-card img{

height:180px;

width:100%;

object-fit:contain;

margin-bottom:15px;

}

.related-card h3{

font-size:16px;

height:50px;

overflow:hidden;

color:var(--text);

}

.related-card p{

font-size:22px;

font-weight:bold;

color:var(--primary);

margin-top:10px;

}

@media(max-width:992px){

.related-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.related-grid{

grid-template-columns:1fr;

}

}